{% extends "base.html" %}
{% load static %}

{% block header %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <link rel="shortcut icon" href="{% static "img/logoi2.jpg" %}" /><title>IMA Operational</title>
{% endblock header %}

{% block title_form %}
<h1 class="page-header">
  Reprocess Data Location 
</h1>
{% endblock title_form %}

{% block urllist %}
<li><a href="/">Home</a></li>
<li><a href="/location/idhash/">Location</a></li>
<li><a href="/location/idhash/">Id_Hash</a></li>
<li class="active">Data</li>
{% endblock urllist %}

{% block form %}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="card-title">
                    <div class="title">Reprocess By Id_Hash</div>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="/location/idhash/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NER</label>
                        <div class="col-sm-3">
                            {{ form.ner }}
                        </div>
                    </div>
                    {{ form.status }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-3">
                            {{ form.category }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">File CSV</label>
                        <div class="col-sm-10">
                            {{ form.filename }}
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock form %}



{% block table %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Processing Queue
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr> 
                                <th>NER</th>  
                                <th>Category</th>  
                                <th>Filename</th> 
                                <th>Created_at</th>
                                <th>Status</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}  
                                <tr>  
                                    <td>{{ document.ner }}</td>  
                                    <td>{{ document.category }}</td>
                                    <td>{{ document.filename }}</td>    
                                    <td>{{ document.created_at }}</td>
                                    <td>{{ document.status }}</td> 
                                </tr>  
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!--End Advanced Tables -->
{% endblock table %}