{% load static %}
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong><img src="{% static "img/logoI2.svg"%}" height="35"> IMA Operational </strong></a>

		<div id="sideNav" href="">
			<i class="fa fa-bars icon"></i> 
		</div>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="/"><i class="fa fa-table"></i>Dashboard</a>
            </li>
            <li>
                <a href="/person/idhash"><i class="fa fa-user"></i> Person </a>
            </li>
            <li>
                <a href="/location/idhash"><i class="fa fa-location-arrow"></i> Location </a>
            </li>
            <li>
                <a href="/organization/idhash"><i class="fa fa-sitemap"></i> Organization </a>
            </li>
            <li>
                <a href="/mediatag"><i class="fa fa-file-text"></i>Media Tag</a>
            </li>
        </ul>
    </div>
</nav>
