{% load static %}
<script src="{% static "js/jquery-1.10.2.js" %}"></script>
  <!-- Bootstrap Js -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Metis Menu Js -->
<script src="{% static "js/jquery.metisMenu.js" %}"></script>
 <!-- DATA TABLE SCRIPTS -->
<script src="{% static "js/dataTables/jquery.dataTables.js" %}"></script>
<script src="{% static "js/dataTables/dataTables.bootstrap.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
</script>
<script src="{% static "datepicker/bootstrap-datepicker.js" %}"></script>
<link rel="stylesheet" href="{% static "datepicker/datepicker.css" %}">
<script>
    $(function () {
    $('#datepicker').datepicker({
    autoclose: true
});
});
</script>
<script>
    $(function () {
    $('#datepicker2').datepicker({
    autoclose: true
});
});
</script>
     <!-- Custom Js -->
<script src="{% static "js/custom-scripts.js" %}"></script>