{% load static %}
<!-- Bootstrap Styles-->
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
 <!-- FontAwesome Styles-->
<link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
 <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
<link href="{% static "css/custom-styles.css" %}" rel="stylesheet" />
 <!-- Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
 <!-- TABLE STYLES-->
<link href="{% static "js/dataTables/dataTables.bootstrap.css" %}" rel="stylesheet" />