{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block header %}
    {% endblock header %}

    {% include "snippets/styles.html" %}
</head>
<body>
    <div id="wrapper">
        
        {% include "snippets/navbar.html" %}

        <div id="page-wrapper" >
            <div class="header"> 
              {% block title_form %}

              {% endblock title_form %}
              <ol class="breadcrumb">
                {% block urllist %}
                
                {% endblock urllist%}
              </ol>                       
            </div>
        
            <div id="page-inner"> 
                {% block content %}
                
                {% endblock content %}


                {% block form %}

                {% endblock form %}

                
                {% block table %}

                {% endblock table %}
                
            </div>
        </div>
        <footer><p>Copyright © 2020 DevOps Division. All rights reserved</p></footer>
    </div>

    <!-- JS Scripts-->
    <!-- jQuery Js -->

    {% include "snippets/scripts.html" %}
       
</body>
</html>
