{% extends "base.html" %}
{% load static %}

{% block header %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <link rel="shortcut icon" href="{% static "img/logoi2.jpg" %}" /><title>IMA Operational</title>
{% endblock header %}

{% block title_form %}
<h2 class="page-header">
  <center><b>Reprocess Data IMA</b></center>
</h2>
{% endblock title_form %}

{% block urllist %}
<li><a href="/">Home</a></li>
<li><a href="/">Dashboard</a></li>
<li class="active">Data</li>
{% endblock urllist %}


{% block table %}
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Processing Queue
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr> 
                                <th>NER</th>  
                                <th>Category</th>  
                                <th>Filename</th> 
                                <th>Created_at</th>
                                <th>Status</th>  
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}  
                                <tr>  
                                    <td>{{ document.ner }}</td>  
                                    <td>{{ document.category }}</td>
                                    <td>{{ document.filename }}</td>    
                                    <td>{{ document.created_at }}</td>
                                    <td>{{ document.status }}</td> 
                                </tr>  
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    <!--End Advanced Tables -->
{% endblock table %}