{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>IMA Operational</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static "img/logoi2.png" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/icon-font.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/animate.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/hamburgers.min.css" %}">

     <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/select2.min.css" %}">

    <link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">


</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static "img/indicator.jpg" %}'); background-size: 100%">
            <div class="wrap-login100 p-t-10 p-b-50">
                <form class="login100-form validate-form" action="/login/" method="POST">
                    {% csrf_token %}

                    <div class="login100-form-avatar">
                        <img src="{% static "img/logoI2.svg" %}"width="108px" height="108px">
                    </div>
                    <span class="login100-form-title p-b-20">
                        <b>IMA OPERATIONAL</b>
                    </span>
                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    {% if messages %}
                      <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn" >
                            Login
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
     
    <script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>

    <script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <script src="{% static "vendor/select2/select2.min.js" %}"></script>

    <script src="{% static "js/main.js" %}"></script>

</body>
</html>



<!--
<!DOCTYPE html>
<htmL>
    <head>
        <title>Mini HRD</title>
    </head>
    <body>
        <h1>Silahkan Login</h1>
        <form action="/login/" method="POST">
            {% csrf_token %}

            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <p>Username: <input type="text" name="username" value="" placeholder="silahkan masukkan username..." /></p>
            <p>Password: <input type="password" name="password" value="" placeholder="silahkan masukkan password..." /></p>
            <p><input type="submit" value="Log In" /></p>
        </form>
    </body>
</htmL>
-->