{% extends "base.html" %}
{% load static %}

{% block header %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <link rel="shortcut icon" href="{% static "img/logoi2.jpg" %}" /><title>IMA Operational</title>
{% endblock header %}

{% block title_form %}
<h2 class="page-header">
  <center><b>Cooming Soon</b></center>
</h2>
{% endblock title_form %}